<h1>Burger Logger</h1>

<h2>Uneaten Burgers</h2>



<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{!-- {{eaten=true}} --}}
      <li>
	<img src="assets/img/burger.jpg" width="100px" height="100px">{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eaten}}">
		{{#if eaten}}Enjoy{{else}}Eat{{/if}}
	</button>
</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{!-- {{eaten=false}} --}}
      <li>
	<img src="assets/img/burger.jpg" width="100px" height="100px">{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eaten}}">
		{{#if eaten}}Enjoy{{else}}Eat{{/if}}
	</button>
</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Type:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Eaten?</label><br>
    <input type="radio" name="eaten" value="1" checked> Eaten!<br>
    <input type="radio" name="eaten" value="0"> Uneatend
  </div>

  <button type="submit">Add Burger</button>
</form>

<script>
  $(function() {
  $(".change-eat").on("click", function(event) {
    var id = $(this).data("id");
    var newEat = $(this).data("neweat");

    var newEatState = {
      eaten: newEat
    };
console.log(newEatState)
    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: newEatState
    }).then(
      function() {
        console.log("changed eaten to", newEat);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".create-form").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      name: $("#ca").val().trim(),
      eaten: $("[name=eaten]:checked").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });  
});
</script>